@font-face {
  font-family: FixelText;
  font-display: swap;
  src: url("../fonts/FixelText-SemiBold.woff2") format("woff2"), url("../fonts/FixelText-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: FixelText;
  font-display: swap;
  src: url("../fonts/FixelText-Bold.woff2") format("woff2"), url("../fonts/FixelText-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: FixelText;
  font-display: swap;
  src: url("../fonts/FixelText-Medium.woff2") format("woff2"), url("../fonts/FixelText-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-arrow:before {
  content: "\e900";
}

._icon-inst:before {
  content: "\e901";
}

._icon-tiktok:before {
  content: "\e902";
}

:root {
  --primary: #0030ff;
  --secondary: #0123b4;
  --accent: #ffc600;
  --white: #f5f5f5;
  --black: #020202;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

html,
body {
  height: 100%;
  min-width: 390px;
}

body {
  color: var(--white);
  line-height: 1;
  font-family: "FixelText";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "FixelText";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  opacity: 0;
  -webkit-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
  scroll-behavior: smooth;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.loaded body {
  opacity: 1;
  background-color: var(--primary);
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 79.125rem;
  margin: 0 auto;
  padding: 0 1.5625rem;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__link {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
}

.menu__link._active {
  cursor: default;
  color: var(--accent);
}

.menu__link._active::before {
  display: none;
}

.icon-menu {
  display: none;
}

.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.ibg--top {
  -o-object-position: top;
     object-position: top;
}

.ibg--bottom {
  -o-object-position: bottom;
     object-position: bottom;
}

.ibg--left {
  -o-object-position: left;
     object-position: left;
}

.ibg--right {
  -o-object-position: right;
     object-position: right;
}

.ibg--contain {
  -o-object-fit: contain;
     object-fit: contain;
}

@-webkit-keyframes star-rotate {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: 359.9deg;
  }
}

@keyframes star-rotate {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: 359.9deg;
  }
}

@-webkit-keyframes star-rotate-opposite {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: -359.9deg;
  }
}

@keyframes star-rotate-opposite {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: -359.9deg;
  }
}

.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
}

.header__container {
  max-width: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  min-height: 6.25rem;
  -webkit-transition: min-height 500ms ease-in-out, background-color 500ms ease;
  transition: min-height 500ms ease-in-out, background-color 500ms ease;
  border-bottom: 1px solid var(--white);
}

._header-scroll .header__container {
  min-height: 4.375rem;
  background-color: rgba(0, 48, 255, 0.95);
}

.header__logo {
  position: relative;
  z-index: 1;
}

.header__logo img {
  max-width: 100%;
}

.language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.language__link {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
}

.language__link._active {
  color: var(--accent);
  cursor: default;
}

.language__link._active::before {
  display: none;
}

.link-header {
  display: inline-block;
  position: relative;
}

.link-header::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0%;
  height: 0.125rem;
  border-radius: 0.125rem;
  background-color: var(--white);
  -webkit-transition: width 300ms ease, left 300ms ease;
  transition: width 300ms ease, left 300ms ease;
}

.intro {
  opacity: 0;
  -webkit-transform: translateY(6.25rem);
      -ms-transform: translateY(6.25rem);
          transform: translateY(6.25rem);
  -webkit-transition: opacity 700ms ease, -webkit-transform 700ms ease;
  transition: opacity 700ms ease, -webkit-transform 700ms ease;
  transition: opacity 700ms ease, transform 700ms ease;
  transition: opacity 700ms ease, transform 700ms ease, -webkit-transform 700ms ease;
}

.loaded .intro {
  opacity: 1;
  -webkit-transform: translateY(0rem);
      -ms-transform: translateY(0rem);
          transform: translateY(0rem);
}

.intro__container {
  padding-top: 8.75rem;
  padding-bottom: 6.25rem;
  position: relative;
}

.intro__container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: 50%;
  height: 50%;
  -webkit-transform: translate(-10%, 10%) rotate(-15deg);
      -ms-transform: translate(-10%, 10%) rotate(-15deg);
          transform: translate(-10%, 10%) rotate(-15deg);
  border-radius: 50%;
  background-color: var(--secondary);
  -webkit-filter: blur(6.25rem);
          filter: blur(6.25rem);
}

.intro__container::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -2;
  width: 60%;
  height: 65%;
  -webkit-transform: translate(10%, 0%) rotate(-25deg);
      -ms-transform: translate(10%, 0%) rotate(-25deg);
          transform: translate(10%, 0%) rotate(-25deg);
  border-radius: 50%;
  background-color: var(--secondary);
  -webkit-filter: blur(6.25rem);
          filter: blur(6.25rem);
}

.intro__top {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.intro__top:not(:last-child) {
  margin-bottom: 3.125rem;
}

.intro__top::before {
  content: "";
  position: absolute;
  width: 2.375rem;
  height: 2.375rem;
  top: 1.875rem;
  right: -0.75rem;
  background: url("../img/decore/star.svg") 0 0 no-repeat;
  -webkit-animation: star-rotate 10s linear infinite;
          animation: star-rotate 10s linear infinite;
}

.intro__text {
  line-height: 1.2;
  text-transform: uppercase;
}

.intro__text span {
  color: #ffc600;
}

.intro__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 4.375rem;
}

.intro__bottom .intro__text {
  position: relative;
}

.intro__bottom .intro__text::before {
  content: "";
  position: absolute;
  background: url("../img/decore/star.svg") 0 0/30px no-repeat;
  -webkit-animation: star-rotate-opposite 7s linear infinite;
          animation: star-rotate-opposite 7s linear infinite;
}

.main-intro:not(:last-child) {
  margin-bottom: 3.75rem;
}

.main-intro__wrapper {
  position: relative;
  margin: 0 auto;
}

.main-intro__image {
  position: absolute;
  z-index: 1;
}

.main-intro__image img {
  max-width: 100%;
  max-height: 100%;
}

.main-intro__image-top-left {
  top: 0;
  left: 0;
  -webkit-transform: translate(-70%, -70%);
      -ms-transform: translate(-70%, -70%);
          transform: translate(-70%, -70%);
}

.main-intro__image-rigth-bottom {
  bottom: 0;
  right: 0;
  -webkit-transform: translate(63%, 0%);
      -ms-transform: translate(63%, 0%);
          transform: translate(63%, 0%);
}

.main-intro__title {
  position: relative;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  color: var(--black);
  border: 2px dashed #f5f5f5;
}

.main-intro__title::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: -1.5%;
  width: 103%;
  -webkit-transform: rotate(1deg);
      -ms-transform: rotate(1deg);
          transform: rotate(1deg);
  background-color: var(--accent);
}

.main-intro__subtitle {
  text-transform: uppercase;
  text-align: center;
}

.counters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: center;
}

.counters__column {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  gap: 0.625rem;
}

.counters__item {
  position: relative;
  padding: 0.625rem 1.25rem 0.3125rem 1.25rem;
  font-weight: 700;
  color: var(--secondary);
  border: 0.1875rem dashed #ffc600;
}

.counters__item::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: -0.1875rem;
  height: 100%;
  width: calc(100% + 0.375rem);
  background-color: #fff;
  -webkit-transform: rotate(2deg);
      -ms-transform: rotate(2deg);
          transform: rotate(2deg);
}

.counters__subtitle {
  text-transform: uppercase;
}

.services {
  position: relative;
  overflow: hidden;
  background-color: var(--white);
}

.services::before {
  content: "";
  position: absolute;
  width: 51.4%;
  /* 740/1440 */
  aspect-ratio: 1/1;
  top: 0;
  right: 0;
  -webkit-transform: translate(27%, -27%);
      -ms-transform: translate(27%, -27%);
          transform: translate(27%, -27%);
  /* 200/740 */
  filter: blur(9.375rem);
  -webkit-filter: blur(150px);
  -webkit-backdrop-filter: blur(150px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  border-radius: 50%;
  background-color: var(--accent);
}

.services::after {
  content: "";
  position: absolute;
  z-index: 0;
  width: 51.4%;
  /* 740/1440 */
  aspect-ratio: 3/4;
  top: 0;
  left: 0;
  -webkit-transform: translate(-45%, 6.25rem);
      -ms-transform: translate(-45%, 6.25rem);
          transform: translate(-45%, 6.25rem);
  filter: blur(15.625rem);
  -webkit-filter: blur(250px);
  -webkit-backdrop-filter: blur(250px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  border-radius: 50% 50% 46% 54%/58% 31% 69% 42%;
  background-color: var(--secondary);
}

.services__logo {
  position: absolute;
  z-index: 1;
  width: 25%;
  /* 402/1440 */
  bottom: 0;
  left: 0;
  -webkit-transform: translate(-20%, 0px);
      -ms-transform: translate(-20%, 0px);
          transform: translate(-20%, 0px);
}

.services__logo img {
  max-width: 100%;
}

.services__container {
  position: relative;
  z-index: 2;
}

.services__cards {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
}

.services__cards > :nth-child(1) {
  border-bottom-right-radius: 3.75rem;
}

.services__cards > :nth-child(2) {
  border-top-right-radius: 3.75rem;
}

.services__cards > :nth-child(3) {
  border-bottom-left-radius: 3.75rem;
}

.services__cards > :nth-child(4) {
  border-top-left-radius: 3.75rem;
}

.services__cards > :nth-child(4)::before {
  content: "";
  position: absolute;
  width: 2.375rem;
  height: 2.375rem;
  top: -1.1875rem;
  right: -1.1875rem;
  background: url("../img/decore/star.svg") 0 0 no-repeat;
  -webkit-animation: star-rotate 10s linear infinite;
          animation: star-rotate 10s linear infinite;
}

.services__cards > :nth-child(5) {
  border-bottom-right-radius: 3.75rem;
}

.services__cards::before {
  content: "";
  position: absolute;
  z-index: 0;
  width: 50%;
  height: 50%;
  bottom: 0;
  right: 0;
  -webkit-transform: translate(20%, 15%);
      -ms-transform: translate(20%, 15%);
          transform: translate(20%, 15%);
  background-color: var(--secondary);
  filter: blur(7.5rem);
  -webkit-filter: blur(120px);
  -webkit-backdrop-filter: blur(120px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}

.services__image {
  position: absolute;
  z-index: 2;
  width: 31.4%;
  /* 382/1216 */
  right: -19.3%;
  /* 235/1216 */
  bottom: 9%;
  /* 60/667 */
}

.services__image img {
  max-width: 100%;
  max-height: 21.875rem;
}

.services__card {
  position: relative;
  z-index: 1;
}

.header-services {
  position: relative;
}

.header-services__title {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  text-transform: uppercase;
  color: var(--black);
  line-height: 1.2;
  font-weight: 700;
}

.no-webp .header-services__title::before {
  background-image: url("../img/services/marketing.png"); }

.header-services__title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2.65em;
  height: 0.96em;
  -webkit-transform: translate(-80%, -64.5%) rotate(-23deg);
      -ms-transform: translate(-80%, -64.5%) rotate(-23deg);
          transform: translate(-80%, -64.5%) rotate(-23deg);
  background-size: 2.65em 0.96em;
  pointer-events: none;
}

.header-services__image {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.header-services__image img {
  max-width: 2.65em;
  max-height: 0.96em;
}

.card-services {
  background-color: var(--primary);
  outline: 0.1875rem dashed var(--accent);
  outline-offset: -0.09375rem;
  padding-bottom: 2.1875rem;
}

.card-services__number {
  font-weight: 700;
  color: var(--accent);
}

.card-services__title {
  position: relative;
  padding-left: 0.3125rem;
  padding-right: 0.3125rem;
  text-align: center;
}

.card-services__title span {
  position: relative;
  z-index: 2;
  font-weight: 700;
  line-height: 1.2;
  color: var(--black);
}

.card-services__title::before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 103%;
  height: 88%;
  top: 6%;
  left: -1.5%;
  background-color: var(--white);
  -webkit-transform: rotate(2deg);
      -ms-transform: rotate(2deg);
          transform: rotate(2deg);
}

.card-services__title::after {
  content: "";
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 2px dashed var(--accent);
}

@media (min-width: 47.99875em) {
  .intro__top .intro__text {
    max-width: 22.4375rem;
  }
}

@media (min-width: 61.99875em) {
  .intro__bottom .intro__text {
    -ms-flex-preferred-size: 28.75rem;
        flex-basis: 28.75rem;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }

  .intro__bottom .intro__text::before {
    bottom: -3.125rem;
    left: -0.625rem;
  }
}

@media (min-width: 79.125em) {
  .header__logo {
    max-width: 4.375rem;
  }

  .language {
    -webkit-column-gap: 2.1875rem;
       -moz-column-gap: 2.1875rem;
            column-gap: 2.1875rem;
  }

  .intro__text {
    font-size: 1.125rem;
  }

  .intro__bottom .intro__text::before {
    width: 1.875rem;
  }

  .intro__bottom .intro__text::before {
    height: 1.875rem;
  }

  .intro__bottom .intro__text::before {
    background-size: 1.875rem;
  }

  .main-intro__wrapper {
    max-width: 64.375rem;
  }

  .main-intro__image-top-left {
    max-width: 9.375rem;
  }

  .main-intro__title {
    font-size: 9.0625rem;
  }

  .main-intro__title {
    padding-top: 3.4375rem;
  }

  .main-intro__title {
    padding-right: 2.5rem;
  }

  .main-intro__title {
    padding-bottom: 1.5625rem;
  }

  .main-intro__title {
    padding-left: 2.5rem;
  }

  .main-intro__title::before {
    top: 0.9375rem;
  }

  .main-intro__title::before {
    height: 13.125rem;
  }

  .main-intro__title:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .main-intro__subtitle {
    font-size: 4.375rem;
  }

  .counters__item {
    min-width: 6.25rem;
  }

  .counters__item {
    padding-left: 1.25rem;
  }

  .counters__item {
    padding-right: 1.25rem;
  }

  .counters__item {
    font-size: 1.75rem;
  }

  .counters__subtitle {
    font-size: 1.125rem;
  }

  .services {
    padding-top: 7.5rem;
  }

  .services {
    padding-bottom: 5rem;
  }

  .services__cards {
    gap: 3.75rem;
  }

  .header-services {
    font-size: 6rem;
  }

  .header-services:not(:last-child) {
    margin-bottom: 3.75rem;
  }

  .card-services {
    padding-top: 3.125rem;
  }

  .card-services {
    padding-left: 3.125rem;
  }

  .card-services {
    padding-right: 3.125rem;
  }

  .card-services__number {
    font-size: 1.375rem;
  }

  .card-services__number:not(:last-child) {
    margin-bottom: 1rem;
  }

  .card-services__title {
    padding-top: 1.875rem;
  }

  .card-services__title {
    padding-bottom: 1.4375rem;
  }

  .card-services__title span {
    font-size: 2.5rem;
  }

  .card-services__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .card-services__text {
    font-size: 1.125rem;
  }
}

@media (min-width: 64em) {
  .services__cards > :nth-child(5) {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }

  .services__cards > :nth-child(5) .card-services__wrapper {
    max-width: 24.375rem;
  }
}

@media (min-width: 90em) {
  .menu__list {
    -webkit-column-gap: 4.375rem;
       -moz-column-gap: 4.375rem;
            column-gap: 4.375rem;
  }

  .menu__link {
    font-size: 1.375rem;
  }

  .header__container {
    padding-left: 7rem;
  }

  .header__container {
    padding-right: 7rem;
  }

  .language__link {
    font-size: 1.375rem;
  }

  .intro__bottom {
    -webkit-column-gap: 7.8125rem;
       -moz-column-gap: 7.8125rem;
            column-gap: 7.8125rem;
  }

  .main-intro__image-rigth-bottom {
    max-width: 10.625rem;
  }

  .counters {
    -webkit-column-gap: 6.25rem;
       -moz-column-gap: 6.25rem;
            column-gap: 6.25rem;
  }

  .counters {
    padding-top: 1.25rem;
  }
}

@media (min-width: 120em) {
  .intro__top:not(:last-child) {
    margin-bottom: 8.125rem;
  }

  .main-intro:not(:last-child) {
    margin-bottom: 7.5rem;
  }
}

@media (max-width: 64em) {
  .services__cards {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 62em) {
  .intro__bottom {
    -webkit-column-gap: 5rem;
       -moz-column-gap: 5rem;
            column-gap: 5rem;
  }

  .main-intro__image-rigth-bottom {
    max-width: 6.25rem;
  }

  .counters {
    padding-top: 0.0000000625rem;
  }
}

@media (max-width: 48em) {
  .menu__list {
    -webkit-column-gap: 1.5625rem;
       -moz-column-gap: 1.5625rem;
            column-gap: 1.5625rem;
  }

  .header__container {
    padding-left: 1.25rem;
  }

  .header__container {
    padding-right: 1.25rem;
  }
}

@media (max-width: 61.99875em) {
  .intro__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .intro__bottom .intro__text::before {
    top: -2.1875rem;
    left: -0.625rem;
  }

  .main-intro:not(:last-child) {
    margin-bottom: 5rem;
  }

  .main-intro__image-rigth-bottom {
    -webkit-transform: translate(50%, 0%);
        -ms-transform: translate(50%, 0%);
            transform: translate(50%, 0%);
  }

  .services::before {
    filter: blur(6.25rem);
    -webkit-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
  }

  .services::after {
    filter: blur(11.25rem);
    -webkit-filter: blur(180px);
    -webkit-backdrop-filter: blur(180px);
  }

  .services__logo {
    bottom: 35%;
  }
}

@media (max-width: 47.99875em) {
  .menu {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    overflow: auto;
    padding-top: 9.375rem;
    padding-bottom: 1.875rem;
    padding-left: 1.5625rem;
    padding-right: 1.5625rem;
    -webkit-transition: left 500ms ease-in-out;
    transition: left 500ms ease-in-out;
    background: rgba(1, 35, 180, 0.96);
  }

  .menu::before {
    content: "";
    position: fixed;
    width: 100%;
    left: -100%;
    top: 0;
    height: 5rem;
    -webkit-transition: left 500ms ease-in-out;
    transition: left 500ms ease-in-out;
    z-index: 2;
    background: var(--secondary);
    border-bottom: 1px solid var(--white);
  }

  ._header-scroll .menu::before {
    height: 4.375rem;
  }

  .menu-open .menu {
    left: 0;
  }

  .menu-open .menu::before {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    row-gap: 0.9375rem;
  }

  .menu__link {
    font-size: 2.25rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.25rem;
    z-index: 5;
    -ms-grid-column-align: end;
        justify-self: end;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 500ms ease 0s;
    transition: all 500ms ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    border-radius: 0.125rem;
    background-color: var(--white);
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
    width: calc(100% - 0.5rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .header__container {
    min-height: 5rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr auto 1fr;
    grid-template-columns: 1fr auto 1fr;
  }

  .language__link {
    padding-bottom: 0;
  }

  .intro__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .intro__top:not(:last-child) {
    margin-bottom: 5.625rem;
  }

  .intro__top::before {
    width: 1.5625rem;
    height: 1.5625rem;
    background-size: 1.5625rem;
    top: -2.5rem;
    right: -0.625rem;
  }

  .main-intro__image-top-left {
    -webkit-transform: translate(-50%, -80%);
        -ms-transform: translate(-50%, -80%);
            transform: translate(-50%, -80%);
  }

  .main-intro__image-rigth-bottom {
    display: none;
  }

  .counters__subtitle {
    text-transform: none;
  }

  .services::before {
    filter: blur(3.75rem);
    -webkit-filter: blur(60px);
    -webkit-backdrop-filter: blur(60px);
  }

  .services::after {
    filter: blur(7.5rem);
    -webkit-filter: blur(120px);
    -webkit-backdrop-filter: blur(120px);
    -webkit-transform: translate(-45%, 3.125rem);
        -ms-transform: translate(-45%, 3.125rem);
            transform: translate(-45%, 3.125rem);
  }

  .services__cards > :nth-child(4)::before {
    width: 1.5625rem;
    height: 1.5625rem;
    background-size: 1.5625rem;
    top: -0.78125rem;
    right: -0.78125rem;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 40.625em) {
  .services__logo {
    bottom: 60%;
  }

  .services__cards {
    -ms-grid-columns: 20rem;
    grid-template-columns: 20rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .card-services__wrapper {
    max-width: 15.625rem;
    margin: 0 auto;
  }
}

@media (max-width: 24.375em) {
  .header__logo {
    max-width: 3.125rem;
  }

  .language {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .intro__text {
    font-size: 0.875rem;
  }

  .intro__bottom .intro__text::before {
    width: 1.25rem;
  }

  .intro__bottom .intro__text::before {
    height: 1.25rem;
  }

  .intro__bottom .intro__text::before {
    background-size: 1.25rem;
  }

  .main-intro__wrapper {
    max-width: 20.625rem;
  }

  .main-intro__image-top-left {
    max-width: 4.375rem;
  }

  .main-intro__title {
    font-size: 2.8125rem;
  }

  .main-intro__title {
    padding-top: 0.9375rem;
  }

  .main-intro__title {
    padding-right: 0.625rem;
  }

  .main-intro__title {
    padding-bottom: 0.625rem;
  }

  .main-intro__title {
    padding-left: 0.625rem;
  }

  .main-intro__title::before {
    top: 0.0000000625rem;
  }

  .main-intro__title::before {
    height: 4.6875rem;
  }

  .main-intro__title:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .main-intro__subtitle {
    font-size: 1.5625rem;
  }

  .counters {
    -webkit-column-gap: 1.5625rem;
       -moz-column-gap: 1.5625rem;
            column-gap: 1.5625rem;
  }

  .counters__item {
    min-width: 3.125rem;
  }

  .counters__item {
    padding-left: 0.3125rem;
  }

  .counters__item {
    padding-right: 0.3125rem;
  }

  .counters__item {
    font-size: 1.125rem;
  }

  .counters__subtitle {
    font-size: 0.875rem;
  }

  .services {
    padding-top: 3.75rem;
  }

  .services {
    padding-bottom: 2.5rem;
  }

  .services__cards {
    gap: 0.9375rem;
  }

  .header-services {
    font-size: 2.5rem;
  }

  .header-services:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .card-services {
    padding-top: 1.875rem;
  }

  .card-services {
    padding-left: 2.5rem;
  }

  .card-services {
    padding-right: 2.5rem;
  }

  .card-services__number {
    font-size: 0.875rem;
  }

  .card-services__number:not(:last-child) {
    margin-bottom: 0.3125rem;
  }

  .card-services__title {
    padding-top: 0.625rem;
  }

  .card-services__title {
    padding-bottom: 0.1875rem;
  }

  .card-services__title span {
    font-size: 1.375rem;
  }

  .card-services__title:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .card-services__text {
    font-size: 0.875rem;
  }
}

@media (min-width: 48em) and (max-width: 90em) {
@supports ((-moz-column-gap: clamp( 1.5625rem , -1.6517857143rem  +  6.6964285714vw , 4.375rem )) or (column-gap: clamp( 1.5625rem , -1.6517857143rem  +  6.6964285714vw , 4.375rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 1.5625rem , -1.6517857143rem  +  6.6964285714vw , 4.375rem );
         -moz-column-gap: clamp( 1.5625rem , -1.6517857143rem  +  6.6964285714vw , 4.375rem );
              column-gap: clamp( 1.5625rem , -1.6517857143rem  +  6.6964285714vw , 4.375rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.5625rem , -1.6517857143rem  +  6.6964285714vw , 4.375rem )) or (column-gap: clamp( 1.5625rem , -1.6517857143rem  +  6.6964285714vw , 4.375rem ))) {
    .menu__list {
      -webkit-column-gap: calc(1.5625rem + 2.8125 * (100vw - 48rem) / 42);
         -moz-column-gap: calc(1.5625rem + 2.8125 * (100vw - 48rem) / 42);
              column-gap: calc(1.5625rem + 2.8125 * (100vw - 48rem) / 42);
    }
}

@supports (font-size: clamp( 1.125rem , 0.8392857143rem  +  0.5952380952vw , 1.375rem )) {
    .menu__link {
      font-size: clamp( 1.125rem , 0.8392857143rem  +  0.5952380952vw , 1.375rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.8392857143rem  +  0.5952380952vw , 1.375rem )) {
    .menu__link {
      font-size: calc(1.125rem + 0.25 * (100vw - 48rem) / 42);
    }
}

@supports (padding-left: clamp( 1.25rem , -5.3214285714rem  +  13.6904761905vw , 7rem )) {
    .header__container {
      padding-left: clamp( 1.25rem , -5.3214285714rem  +  13.6904761905vw , 7rem );
    }
}

@supports not (padding-left: clamp( 1.25rem , -5.3214285714rem  +  13.6904761905vw , 7rem )) {
    .header__container {
      padding-left: calc(1.25rem + 5.75 * (100vw - 48rem) / 42);
    }
}

@supports (padding-right: clamp( 1.25rem , -5.3214285714rem  +  13.6904761905vw , 7rem )) {
    .header__container {
      padding-right: clamp( 1.25rem , -5.3214285714rem  +  13.6904761905vw , 7rem );
    }
}

@supports not (padding-right: clamp( 1.25rem , -5.3214285714rem  +  13.6904761905vw , 7rem )) {
    .header__container {
      padding-right: calc(1.25rem + 5.75 * (100vw - 48rem) / 42);
    }
}

@supports (font-size: clamp( 1.125rem , 0.8392857143rem  +  0.5952380952vw , 1.375rem )) {
    .language__link {
      font-size: clamp( 1.125rem , 0.8392857143rem  +  0.5952380952vw , 1.375rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.8392857143rem  +  0.5952380952vw , 1.375rem )) {
    .language__link {
      font-size: calc(1.125rem + 0.25 * (100vw - 48rem) / 42);
    }
}
}

@media (min-width: 24.375em) and (max-width: 79.125em) {
@supports (max-width: clamp( 3.125rem , 2.5684931507rem  +  2.2831050228vw , 4.375rem )) {
    .header__logo {
      max-width: clamp( 3.125rem , 2.5684931507rem  +  2.2831050228vw , 4.375rem );
    }
}

@supports not (max-width: clamp( 3.125rem , 2.5684931507rem  +  2.2831050228vw , 4.375rem )) {
    .header__logo {
      max-width: calc(3.125rem + 1.25 * (100vw - 24.375rem) / 54.75);
    }
}

@supports ((-moz-column-gap: clamp( 1.25rem , 0.832619863rem  +  1.7123287671vw , 2.1875rem )) or (column-gap: clamp( 1.25rem , 0.832619863rem  +  1.7123287671vw , 2.1875rem ))) {
    .language {
      -webkit-column-gap: clamp( 1.25rem , 0.832619863rem  +  1.7123287671vw , 2.1875rem );
         -moz-column-gap: clamp( 1.25rem , 0.832619863rem  +  1.7123287671vw , 2.1875rem );
              column-gap: clamp( 1.25rem , 0.832619863rem  +  1.7123287671vw , 2.1875rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , 0.832619863rem  +  1.7123287671vw , 2.1875rem )) or (column-gap: clamp( 1.25rem , 0.832619863rem  +  1.7123287671vw , 2.1875rem ))) {
    .language {
      -webkit-column-gap: calc(1.25rem + 0.9375 * (100vw - 24.375rem) / 54.75);
         -moz-column-gap: calc(1.25rem + 0.9375 * (100vw - 24.375rem) / 54.75);
              column-gap: calc(1.25rem + 0.9375 * (100vw - 24.375rem) / 54.75);
    }
}

@supports (font-size: clamp( 0.875rem , 0.7636986301rem  +  0.4566210046vw , 1.125rem )) {
    .intro__text {
      font-size: clamp( 0.875rem , 0.7636986301rem  +  0.4566210046vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.7636986301rem  +  0.4566210046vw , 1.125rem )) {
    .intro__text {
      font-size: calc(0.875rem + 0.25 * (100vw - 24.375rem) / 54.75);
    }
}

@supports (width: clamp( 1.25rem , 0.9717465753rem  +  1.1415525114vw , 1.875rem )) {
    .intro__bottom .intro__text::before {
      width: clamp( 1.25rem , 0.9717465753rem  +  1.1415525114vw , 1.875rem );
    }
}

@supports not (width: clamp( 1.25rem , 0.9717465753rem  +  1.1415525114vw , 1.875rem )) {
    .intro__bottom .intro__text::before {
      width: calc(1.25rem + 0.625 * (100vw - 24.375rem) / 54.75);
    }
}

@supports (height: clamp( 1.25rem , 0.9717465753rem  +  1.1415525114vw , 1.875rem )) {
    .intro__bottom .intro__text::before {
      height: clamp( 1.25rem , 0.9717465753rem  +  1.1415525114vw , 1.875rem );
    }
}

@supports not (height: clamp( 1.25rem , 0.9717465753rem  +  1.1415525114vw , 1.875rem )) {
    .intro__bottom .intro__text::before {
      height: calc(1.25rem + 0.625 * (100vw - 24.375rem) / 54.75);
    }
}

@supports (background-size: clamp( 1.25rem , 0.9717465753rem  +  1.1415525114vw , 1.875rem )) {
    .intro__bottom .intro__text::before {
      background-size: clamp( 1.25rem , 0.9717465753rem  +  1.1415525114vw , 1.875rem );
    }
}

@supports not (background-size: clamp( 1.25rem , 0.9717465753rem  +  1.1415525114vw , 1.875rem )) {
    .intro__bottom .intro__text::before {
      background-size: calc(1.25rem + 0.625 * (100vw - 24.375rem) / 54.75);
    }
}

@supports (max-width: clamp( 20.625rem , 1.147260274rem  +  79.9086757991vw , 64.375rem )) {
    .main-intro__wrapper {
      max-width: clamp( 20.625rem , 1.147260274rem  +  79.9086757991vw , 64.375rem );
    }
}

@supports not (max-width: clamp( 20.625rem , 1.147260274rem  +  79.9086757991vw , 64.375rem )) {
    .main-intro__wrapper {
      max-width: calc(20.625rem + 43.75 * (100vw - 24.375rem) / 54.75);
    }
}

@supports (max-width: clamp( 4.375rem , 2.1489726027rem  +  9.1324200913vw , 9.375rem )) {
    .main-intro__image-top-left {
      max-width: clamp( 4.375rem , 2.1489726027rem  +  9.1324200913vw , 9.375rem );
    }
}

@supports not (max-width: clamp( 4.375rem , 2.1489726027rem  +  9.1324200913vw , 9.375rem )) {
    .main-intro__image-top-left {
      max-width: calc(4.375rem + 5 * (100vw - 24.375rem) / 54.75);
    }
}

@supports (font-size: clamp( 2.8125rem , 0.0299657534rem  +  11.4155251142vw , 9.0625rem )) {
    .main-intro__title {
      font-size: clamp( 2.8125rem , 0.0299657534rem  +  11.4155251142vw , 9.0625rem );
    }
}

@supports not (font-size: clamp( 2.8125rem , 0.0299657534rem  +  11.4155251142vw , 9.0625rem )) {
    .main-intro__title {
      font-size: calc(2.8125rem + 6.25 * (100vw - 24.375rem) / 54.75);
    }
}

@supports (padding-top: clamp( 0.9375rem , -0.1755136986rem  +  4.5662100457vw , 3.4375rem )) {
    .main-intro__title {
      padding-top: clamp( 0.9375rem , -0.1755136986rem  +  4.5662100457vw , 3.4375rem );
    }
}

@supports not (padding-top: clamp( 0.9375rem , -0.1755136986rem  +  4.5662100457vw , 3.4375rem )) {
    .main-intro__title {
      padding-top: calc(0.9375rem + 2.5 * (100vw - 24.375rem) / 54.75);
    }
}

@supports (padding-right: clamp( 0.625rem , -0.209760274rem  +  3.4246575342vw , 2.5rem )) {
    .main-intro__title {
      padding-right: clamp( 0.625rem , -0.209760274rem  +  3.4246575342vw , 2.5rem );
    }
}

@supports not (padding-right: clamp( 0.625rem , -0.209760274rem  +  3.4246575342vw , 2.5rem )) {
    .main-intro__title {
      padding-right: calc(0.625rem + 1.875 * (100vw - 24.375rem) / 54.75);
    }
}

@supports (padding-bottom: clamp( 0.625rem , 0.207619863rem  +  1.7123287671vw , 1.5625rem )) {
    .main-intro__title {
      padding-bottom: clamp( 0.625rem , 0.207619863rem  +  1.7123287671vw , 1.5625rem );
    }
}

@supports not (padding-bottom: clamp( 0.625rem , 0.207619863rem  +  1.7123287671vw , 1.5625rem )) {
    .main-intro__title {
      padding-bottom: calc(0.625rem + 0.9375 * (100vw - 24.375rem) / 54.75);
    }
}

@supports (padding-left: clamp( 0.625rem , -0.209760274rem  +  3.4246575342vw , 2.5rem )) {
    .main-intro__title {
      padding-left: clamp( 0.625rem , -0.209760274rem  +  3.4246575342vw , 2.5rem );
    }
}

@supports not (padding-left: clamp( 0.625rem , -0.209760274rem  +  3.4246575342vw , 2.5rem )) {
    .main-intro__title {
      padding-left: calc(0.625rem + 1.875 * (100vw - 24.375rem) / 54.75);
    }
}

@supports (top: clamp( 0.0000000625rem , -0.4173800467rem  +  1.712328653vw , 0.9375rem )) {
    .main-intro__title::before {
      top: clamp( 0.0000000625rem , -0.4173800467rem  +  1.712328653vw , 0.9375rem );
    }
}

@supports not (top: clamp( 0.0000000625rem , -0.4173800467rem  +  1.712328653vw , 0.9375rem )) {
    .main-intro__title::before {
      top: calc(0.0000000625rem + 0.9374999375 * (100vw - 24.375rem) / 54.75);
    }
}

@supports (height: clamp( 4.6875rem , 0.9310787671rem  +  15.4109589041vw , 13.125rem )) {
    .main-intro__title::before {
      height: clamp( 4.6875rem , 0.9310787671rem  +  15.4109589041vw , 13.125rem );
    }
}

@supports not (height: clamp( 4.6875rem , 0.9310787671rem  +  15.4109589041vw , 13.125rem )) {
    .main-intro__title::before {
      height: calc(4.6875rem + 8.4375 * (100vw - 24.375rem) / 54.75);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.520119863rem  +  1.7123287671vw , 1.875rem )) {
    .main-intro__title:not(:last-child) {
      margin-bottom: clamp( 0.9375rem , 0.520119863rem  +  1.7123287671vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.520119863rem  +  1.7123287671vw , 1.875rem )) {
    .main-intro__title:not(:last-child) {
      margin-bottom: calc(0.9375rem + 0.9375 * (100vw - 24.375rem) / 54.75);
    }
}

@supports (font-size: clamp( 1.5625rem , 0.310359589rem  +  5.1369863014vw , 4.375rem )) {
    .main-intro__subtitle {
      font-size: clamp( 1.5625rem , 0.310359589rem  +  5.1369863014vw , 4.375rem );
    }
}

@supports not (font-size: clamp( 1.5625rem , 0.310359589rem  +  5.1369863014vw , 4.375rem )) {
    .main-intro__subtitle {
      font-size: calc(1.5625rem + 2.8125 * (100vw - 24.375rem) / 54.75);
    }
}

@supports (min-width: clamp( 3.125rem , 1.7337328767rem  +  5.7077625571vw , 6.25rem )) {
    .counters__item {
      min-width: clamp( 3.125rem , 1.7337328767rem  +  5.7077625571vw , 6.25rem );
    }
}

@supports not (min-width: clamp( 3.125rem , 1.7337328767rem  +  5.7077625571vw , 6.25rem )) {
    .counters__item {
      min-width: calc(3.125rem + 3.125 * (100vw - 24.375rem) / 54.75);
    }
}

@supports (padding-left: clamp( 0.3125rem , -0.104880137rem  +  1.7123287671vw , 1.25rem )) {
    .counters__item {
      padding-left: clamp( 0.3125rem , -0.104880137rem  +  1.7123287671vw , 1.25rem );
    }
}

@supports not (padding-left: clamp( 0.3125rem , -0.104880137rem  +  1.7123287671vw , 1.25rem )) {
    .counters__item {
      padding-left: calc(0.3125rem + 0.9375 * (100vw - 24.375rem) / 54.75);
    }
}

@supports (padding-right: clamp( 0.3125rem , -0.104880137rem  +  1.7123287671vw , 1.25rem )) {
    .counters__item {
      padding-right: clamp( 0.3125rem , -0.104880137rem  +  1.7123287671vw , 1.25rem );
    }
}

@supports not (padding-right: clamp( 0.3125rem , -0.104880137rem  +  1.7123287671vw , 1.25rem )) {
    .counters__item {
      padding-right: calc(0.3125rem + 0.9375 * (100vw - 24.375rem) / 54.75);
    }
}

@supports (font-size: clamp( 1.125rem , 0.8467465753rem  +  1.1415525114vw , 1.75rem )) {
    .counters__item {
      font-size: clamp( 1.125rem , 0.8467465753rem  +  1.1415525114vw , 1.75rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.8467465753rem  +  1.1415525114vw , 1.75rem )) {
    .counters__item {
      font-size: calc(1.125rem + 0.625 * (100vw - 24.375rem) / 54.75);
    }
}

@supports (font-size: clamp( 0.875rem , 0.7636986301rem  +  0.4566210046vw , 1.125rem )) {
    .counters__subtitle {
      font-size: clamp( 0.875rem , 0.7636986301rem  +  0.4566210046vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.7636986301rem  +  0.4566210046vw , 1.125rem )) {
    .counters__subtitle {
      font-size: calc(0.875rem + 0.25 * (100vw - 24.375rem) / 54.75);
    }
}

@supports (padding-top: clamp( 3.75rem , 2.0804794521rem  +  6.8493150685vw , 7.5rem )) {
    .services {
      padding-top: clamp( 3.75rem , 2.0804794521rem  +  6.8493150685vw , 7.5rem );
    }
}

@supports not (padding-top: clamp( 3.75rem , 2.0804794521rem  +  6.8493150685vw , 7.5rem )) {
    .services {
      padding-top: calc(3.75rem + 3.75 * (100vw - 24.375rem) / 54.75);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 1.3869863014rem  +  4.5662100457vw , 5rem )) {
    .services {
      padding-bottom: clamp( 2.5rem , 1.3869863014rem  +  4.5662100457vw , 5rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.3869863014rem  +  4.5662100457vw , 5rem )) {
    .services {
      padding-bottom: calc(2.5rem + 2.5 * (100vw - 24.375rem) / 54.75);
    }
}

@supports (gap: clamp( 0.9375rem , -0.314640411rem  +  5.1369863014vw , 3.75rem )) {
    .services__cards {
      gap: clamp( 0.9375rem , -0.314640411rem  +  5.1369863014vw , 3.75rem );
    }
}

@supports not (gap: clamp( 0.9375rem , -0.314640411rem  +  5.1369863014vw , 3.75rem )) {
    .services__cards {
      gap: calc(0.9375rem + 2.8125 * (100vw - 24.375rem) / 54.75);
    }
}

@supports (font-size: clamp( 2.5rem , 0.9417808219rem  +  6.3926940639vw , 6rem )) {
    .header-services {
      font-size: clamp( 2.5rem , 0.9417808219rem  +  6.3926940639vw , 6rem );
    }
}

@supports not (font-size: clamp( 2.5rem , 0.9417808219rem  +  6.3926940639vw , 6rem )) {
    .header-services {
      font-size: calc(2.5rem + 3.5 * (100vw - 24.375rem) / 54.75);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.1369863014rem  +  4.5662100457vw , 3.75rem )) {
    .header-services:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.1369863014rem  +  4.5662100457vw , 3.75rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.1369863014rem  +  4.5662100457vw , 3.75rem )) {
    .header-services:not(:last-child) {
      margin-bottom: calc(1.25rem + 2.5 * (100vw - 24.375rem) / 54.75);
    }
}

@supports (padding-top: clamp( 1.875rem , 1.3184931507rem  +  2.2831050228vw , 3.125rem )) {
    .card-services {
      padding-top: clamp( 1.875rem , 1.3184931507rem  +  2.2831050228vw , 3.125rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.3184931507rem  +  2.2831050228vw , 3.125rem )) {
    .card-services {
      padding-top: calc(1.875rem + 1.25 * (100vw - 24.375rem) / 54.75);
    }
}

@supports (padding-left: clamp( 2.5rem , 2.2217465753rem  +  1.1415525114vw , 3.125rem )) {
    .card-services {
      padding-left: clamp( 2.5rem , 2.2217465753rem  +  1.1415525114vw , 3.125rem );
    }
}

@supports not (padding-left: clamp( 2.5rem , 2.2217465753rem  +  1.1415525114vw , 3.125rem )) {
    .card-services {
      padding-left: calc(2.5rem + 0.625 * (100vw - 24.375rem) / 54.75);
    }
}

@supports (padding-right: clamp( 2.5rem , 2.2217465753rem  +  1.1415525114vw , 3.125rem )) {
    .card-services {
      padding-right: clamp( 2.5rem , 2.2217465753rem  +  1.1415525114vw , 3.125rem );
    }
}

@supports not (padding-right: clamp( 2.5rem , 2.2217465753rem  +  1.1415525114vw , 3.125rem )) {
    .card-services {
      padding-right: calc(2.5rem + 0.625 * (100vw - 24.375rem) / 54.75);
    }
}

@supports (font-size: clamp( 0.875rem , 0.6523972603rem  +  0.9132420091vw , 1.375rem )) {
    .card-services__number {
      font-size: clamp( 0.875rem , 0.6523972603rem  +  0.9132420091vw , 1.375rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.6523972603rem  +  0.9132420091vw , 1.375rem )) {
    .card-services__number {
      font-size: calc(0.875rem + 0.5 * (100vw - 24.375rem) / 54.75);
    }
}

@supports (margin-bottom: clamp( 0.3125rem , 0.0064212329rem  +  1.2557077626vw , 1rem )) {
    .card-services__number:not(:last-child) {
      margin-bottom: clamp( 0.3125rem , 0.0064212329rem  +  1.2557077626vw , 1rem );
    }
}

@supports not (margin-bottom: clamp( 0.3125rem , 0.0064212329rem  +  1.2557077626vw , 1rem )) {
    .card-services__number:not(:last-child) {
      margin-bottom: calc(0.3125rem + 0.6875 * (100vw - 24.375rem) / 54.75);
    }
}

@supports (padding-top: clamp( 0.625rem , 0.0684931507rem  +  2.2831050228vw , 1.875rem )) {
    .card-services__title {
      padding-top: clamp( 0.625rem , 0.0684931507rem  +  2.2831050228vw , 1.875rem );
    }
}

@supports not (padding-top: clamp( 0.625rem , 0.0684931507rem  +  2.2831050228vw , 1.875rem )) {
    .card-services__title {
      padding-top: calc(0.625rem + 1.25 * (100vw - 24.375rem) / 54.75);
    }
}

@supports (padding-bottom: clamp( 0.1875rem , -0.3690068493rem  +  2.2831050228vw , 1.4375rem )) {
    .card-services__title {
      padding-bottom: clamp( 0.1875rem , -0.3690068493rem  +  2.2831050228vw , 1.4375rem );
    }
}

@supports not (padding-bottom: clamp( 0.1875rem , -0.3690068493rem  +  2.2831050228vw , 1.4375rem )) {
    .card-services__title {
      padding-bottom: calc(0.1875rem + 1.25 * (100vw - 24.375rem) / 54.75);
    }
}

@supports (font-size: clamp( 1.375rem , 0.8741438356rem  +  2.0547945205vw , 2.5rem )) {
    .card-services__title span {
      font-size: clamp( 1.375rem , 0.8741438356rem  +  2.0547945205vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 1.375rem , 0.8741438356rem  +  2.0547945205vw , 2.5rem )) {
    .card-services__title span {
      font-size: calc(1.375rem + 1.125 * (100vw - 24.375rem) / 54.75);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.7983732877rem  +  0.5707762557vw , 1.25rem )) {
    .card-services__title:not(:last-child) {
      margin-bottom: clamp( 0.9375rem , 0.7983732877rem  +  0.5707762557vw , 1.25rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.7983732877rem  +  0.5707762557vw , 1.25rem )) {
    .card-services__title:not(:last-child) {
      margin-bottom: calc(0.9375rem + 0.3125 * (100vw - 24.375rem) / 54.75);
    }
}

@supports (font-size: clamp( 0.875rem , 0.7636986301rem  +  0.4566210046vw , 1.125rem )) {
    .card-services__text {
      font-size: clamp( 0.875rem , 0.7636986301rem  +  0.4566210046vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.7636986301rem  +  0.4566210046vw , 1.125rem )) {
    .card-services__text {
      font-size: calc(0.875rem + 0.25 * (100vw - 24.375rem) / 54.75);
    }
}
}

@media (min-width: 90em) and (max-width: 120em) {
@supports (margin-bottom: clamp( 3.125rem , -11.875rem  +  16.6666666667vw , 8.125rem )) {
    .intro__top:not(:last-child) {
      margin-bottom: clamp( 3.125rem , -11.875rem  +  16.6666666667vw , 8.125rem );
    }
}

@supports not (margin-bottom: clamp( 3.125rem , -11.875rem  +  16.6666666667vw , 8.125rem )) {
    .intro__top:not(:last-child) {
      margin-bottom: calc(3.125rem + 5 * (100vw - 90rem) / 30);
    }
}

@supports (margin-bottom: clamp( 3.75rem , -7.5rem  +  12.5vw , 7.5rem )) {
    .main-intro:not(:last-child) {
      margin-bottom: clamp( 3.75rem , -7.5rem  +  12.5vw , 7.5rem );
    }
}

@supports not (margin-bottom: clamp( 3.75rem , -7.5rem  +  12.5vw , 7.5rem )) {
    .main-intro:not(:last-child) {
      margin-bottom: calc(3.75rem + 3.75 * (100vw - 90rem) / 30);
    }
}
}

@media (min-width: 62em) and (max-width: 90em) {
@supports ((-moz-column-gap: clamp( 5rem , -1.2276785714rem  +  10.0446428571vw , 7.8125rem )) or (column-gap: clamp( 5rem , -1.2276785714rem  +  10.0446428571vw , 7.8125rem ))) {
    .intro__bottom {
      -webkit-column-gap: clamp( 5rem , -1.2276785714rem  +  10.0446428571vw , 7.8125rem );
         -moz-column-gap: clamp( 5rem , -1.2276785714rem  +  10.0446428571vw , 7.8125rem );
              column-gap: clamp( 5rem , -1.2276785714rem  +  10.0446428571vw , 7.8125rem );
    }
}

@supports not ((-moz-column-gap: clamp( 5rem , -1.2276785714rem  +  10.0446428571vw , 7.8125rem )) or (column-gap: clamp( 5rem , -1.2276785714rem  +  10.0446428571vw , 7.8125rem ))) {
    .intro__bottom {
      -webkit-column-gap: calc(5rem + 2.8125 * (100vw - 62rem) / 28);
         -moz-column-gap: calc(5rem + 2.8125 * (100vw - 62rem) / 28);
              column-gap: calc(5rem + 2.8125 * (100vw - 62rem) / 28);
    }
}

@supports (max-width: clamp( 6.25rem , -3.4375rem  +  15.625vw , 10.625rem )) {
    .main-intro__image-rigth-bottom {
      max-width: clamp( 6.25rem , -3.4375rem  +  15.625vw , 10.625rem );
    }
}

@supports not (max-width: clamp( 6.25rem , -3.4375rem  +  15.625vw , 10.625rem )) {
    .main-intro__image-rigth-bottom {
      max-width: calc(6.25rem + 4.375 * (100vw - 62rem) / 28);
    }
}

@supports ((-moz-column-gap: clamp( 1.5625rem , -8.8169642857rem  +  16.7410714286vw , 6.25rem )) or (column-gap: clamp( 1.5625rem , -8.8169642857rem  +  16.7410714286vw , 6.25rem ))) {
    .counters {
      -webkit-column-gap: clamp( 1.5625rem , -8.8169642857rem  +  16.7410714286vw , 6.25rem );
         -moz-column-gap: clamp( 1.5625rem , -8.8169642857rem  +  16.7410714286vw , 6.25rem );
              column-gap: clamp( 1.5625rem , -8.8169642857rem  +  16.7410714286vw , 6.25rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.5625rem , -8.8169642857rem  +  16.7410714286vw , 6.25rem )) or (column-gap: clamp( 1.5625rem , -8.8169642857rem  +  16.7410714286vw , 6.25rem ))) {
    .counters {
      -webkit-column-gap: calc(1.5625rem + 4.6875 * (100vw - 62rem) / 28);
         -moz-column-gap: calc(1.5625rem + 4.6875 * (100vw - 62rem) / 28);
              column-gap: calc(1.5625rem + 4.6875 * (100vw - 62rem) / 28);
    }
}

@supports (padding-top: clamp( 0.0000000625rem , -2.767856942rem  +  4.4642854911vw , 1.25rem )) {
    .counters {
      padding-top: clamp( 0.0000000625rem , -2.767856942rem  +  4.4642854911vw , 1.25rem );
    }
}

@supports not (padding-top: clamp( 0.0000000625rem , -2.767856942rem  +  4.4642854911vw , 1.25rem )) {
    .counters {
      padding-top: calc(0.0000000625rem + 1.2499999375 * (100vw - 62rem) / 28);
    }
}
}

@media (min-width: 24.375em) and (max-width: 61.99875em) {
@supports ((-moz-column-gap: clamp( 1.5625rem , -1.4743533838rem  +  12.4588856773vw , 6.25rem )) or (column-gap: clamp( 1.5625rem , -1.4743533838rem  +  12.4588856773vw , 6.25rem ))) {
    .counters {
      -webkit-column-gap: clamp( 1.5625rem , -1.4743533838rem  +  12.4588856773vw , 6.25rem );
         -moz-column-gap: clamp( 1.5625rem , -1.4743533838rem  +  12.4588856773vw , 6.25rem );
              column-gap: clamp( 1.5625rem , -1.4743533838rem  +  12.4588856773vw , 6.25rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.5625rem , -1.4743533838rem  +  12.4588856773vw , 6.25rem )) or (column-gap: clamp( 1.5625rem , -1.4743533838rem  +  12.4588856773vw , 6.25rem ))) {
    .counters {
      -webkit-column-gap: calc(1.5625rem + 4.6875 * (100vw - 24.375rem) / 37.62375);
         -moz-column-gap: calc(1.5625rem + 4.6875 * (100vw - 24.375rem) / 37.62375);
              column-gap: calc(1.5625rem + 4.6875 * (100vw - 24.375rem) / 37.62375);
    }
}
}

@media (any-hover: hover) {
  .link-header:hover::before {
    width: 100%;
    left: 0;
  }
}

.webp .header-services__title::before { background-image: url(../img/services/marketing.webp); }